@model AppStore.Models.DTO.LibroListVm
@{
    Layout = "_Layout";
}

<!-- Barra de búsqueda -->
<section class="search-bar">
    <form asp-action="Index" method="get">
        <input type="text" name="term" placeholder="Buscar libro" value="@ViewData["CurrentTerm"]">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>

<!-- Lista de libros -->
<section class="movies">
    @foreach (var libro in Model.LibroList!)
    {
        <div class="movie-card" onclick="window.location.href='/Home/LibroDetail?LibroId=@libro.Id'">
            <!-- Imagen del libro -->
            <div class="movie-image">
                <img src="/Uploads/@libro.Imagen" alt="Portada de @libro.Titulo">
            </div>

            <!-- Información del libro -->
            <div class="movie-info">
                <h4>@libro.Titulo</h4>
                <p><strong>Categorías:</strong> @libro.CategoriasNames</p>
                <p><strong>Fecha de publicación:</strong> @libro.CreateDate</p>
            </div>
        </div>
    }
</section>




