@model AppStore.Models.Domain.Libro

<div class="movie-card m-auto">
    <!-- Imagen del libro -->
    <div class="movie-image">
        <img src="/Uploads/@Model.Imagen" alt="Portada del libro @Model.Titulo" class="limited-width" />
    </div>

    <!-- Detalles del libro -->
    <div class="info-container">
        <h3>@Model.Titulo</h3>
        <p><strong>Categorías:</strong> @Model.CategoriasNames</p>
        <p><strong>Fecha de publicación:</strong> @Model.CreateDate</p>
        <p><strong>Autor:</strong> @Model.Autor</p>
    </div>

    <!-- Botón de navegación -->
    <div class="button-container mt-1">
        <a href="/Home/Index" class="btn">Atrás</a>
    </div>
</div>
