@model AppStore.Models.DTO.LibroListVm
@{

}

<div class="tbl-container">
    <h2>Administracion de libros</h2>

    <table>
        <tr>
            <td>Titulo</td>
            <td>Categoria</td>
            <td>Fecha</td>
            <td>Imagen</td>
            <td>Autor</td>
            <td>Acción</td>
        </tr>

        @foreach (var item in Model.LibroList!)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.CategoriasNames</td>
                <td>@item.CreateDate</td>
                <td><img src="/Uploads/@item.Imagen" alt="Imagen de @item.Titulo" style="height:60px; width:auto;"/></td>
                <td>@item.Autor</td>
                <td>
                    <a href="/Libro/Edit?id=@item.Id" class="btn btn-default">
                        <i class="fa fa-edit"></i>
                    </a>

                    <a href="/Libro/Delete?id=@item.Id" onclick="return window.confirm('Estas seguro de eliminar @item.Titulo')" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>


                </td>
            </tr>
        
        }
    </table>

    <div class="input-container">
        <a href="/Libro/Add" class="btn btn-sec">Atras</a>
    </div>
</div>